/*Bitte arbeitet mit Variablen für ein einheitliches design*/

/*Main Site*/

.footer_gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px; /* increased height for a longer fade */
    background: linear-gradient(to top,
        var(--text-dark-gray) 0%,
        var(--text-dark-gray) 10%,
        var(--background-beige) 40%,
        var(--background-beige) 100%);
    }



/*Sub Site n*/