.content {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 3vw;
}

#main_content {
    font-family: Verdana, sans-serif;
    background-color: #a8d5ba;
    color: #2e2e2e;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border-radius: 5vw;
}

a{
    color: #587b6f;
}

a:hover{
    color: #a7d3f4;
    background-color: #2e2e2e;
    padding: 3px;
    border-radius: 3px;
}

#mailbutton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: blue;
  cursor: pointer;
}

ul{
    list-style-type: none;
}